/* Estilos personalizados */
body {
    background-image: url('fondo.jpg'); /* Agrega la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo al desplazarse */
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 2em; /* Tamaño del título */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave del texto */
    font-family: 'Cursive', sans-serif; /* Cambia la fuente a una fuente cursiva */
    letter-spacing: 2px; /* Espaciado entre letras */
    font-weight: bold; /* Hace el texto más audaz */
}

.container {
    max-width: 600px; /* Ancho máximo del contenedor */
}

.card {
    border: none; /* Sin borde en la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.card-img-top {
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}

.card-title {
    color: #007bff; /* Color del título */
}

.card-text {
    color: #6c757d; /* Color del texto */
}
